.navbar {
    background-color: #1F1410;
    
}

.logo{
    margin-left: 200px !important;
}

.buttonsalir {
    background-color: #9E9E9E;
}

.gimcloud{
    font-size: 28px;
     color: white;
    font-weight: bold;
    }
    
    
 